<!-- Page Content -->
<div class="page-heading about-heading header-text"
  style="background-image: url(assets/images/heading-1-1920x500.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>about us</h4>
          <h2>our company</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>With us you get a reliable and safe car</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/Mercedes-Dartford.jpeg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Кris's Cars LTD</h4>
          <p>Our company was founded in 2003. in the city of Varna and for 20 years we have become the leader in the
            sale of used cars in Bulgaria.
            We have centers in all major cities, and in all our stores we also have service centers to serve our
            customers.
            <br><br>
            We import only the best cars from Western Europe, with a proven service history.
            <br>
            Кris's Cars have many available cars in stock, we also import custom cars.
            <br><br>
            The company offers financial leasing, under very advantageous conditions, which you can take advantage of.
          </p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>In our online store you can search for used cars and upload your car for sale</h2>
        </div>

        <h5>Upload your car ad absolutely free</h5>

        <p>To upload an ad for your car, you must register on our website with an email and password, then confirm your
          email.
          You will then be able to upload, edit and delete your listings.</p>

        <p>Please select Register form. locate in Login menu.</p>
      </div>
    </div>
  </div>
</div>