<div class="contact-form">
    <form>

        <!-- Search in All Cars Catalog -->
        <label>Search in All Cars Catalog</label>
            <input type="text" [(ngModel)]="filterValue" (input)="applyFilter()" [ngModelOptions]="{standalone: true}"
                placeholder="Type Any Word or Value" />
        <hr>



        <label>Brand</label>

        <select class="form-control">
            <option value="">--All --</option>
            <option value="">--All --</option>
            <option value="">--All --</option>
        </select>

        <label>Model:</label>

        <select class="form-control">
            <option value="">--All --</option>
            <option value="">--All --</option>
            <option value="">--All --</option>
            <option value="">--All --</option>
            <option value="">--All --</option>
        </select>


        <label>Engine:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Gearshift:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Euro Standard:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Color:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Mileage:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Price:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Fuel:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Gearbox:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>

        <label>Year:</label>

        <select class="form-control">
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
            <option value="">-- All --</option>
        </select>


        <button type="submit" class="filled-button btn-block">Search</button>
    </form>
</div>