<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/mercedes-house3.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>On this page you can edit your</h4>
                    <h2>Car Ads</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <app-search (searchTextChanged)="onSearchTextEntered($event)" />
                <app-drop-down-filter [Cars]="Cars" (filteredDataEvent)="updateFilteredData($event)" />

            </div>

            <div class="col-md-9">


                <!-- Filtered Cars Data -->
                <div class="row" *ngIf="isFilterApplied">
                    <div class="col-md-6"
                        *ngFor="let dataItem of filteredData | paginate: { itemsPerPage: 6, currentPage: p }">

                        <!-- {{dataItem | json}} -->

                        <app-single-car-card [dataItem]="dataItem" />

                    </div>
                </div>



                <!-- Not Filtered Cars Data -->
                <div class="row" *ngIf="!isFilterApplied">
                    <div class="col-md-6"
                        *ngFor="let dataItem of userData$ | async | paginate: { itemsPerPage: 6, currentPage: p }">

                        <!-- {{dataItem | json}} -->

                        <app-single-car-card [dataItem]="dataItem" />

                    </div>

                </div>
            </div>



            <!-- Pagination -->
            <div class="col-md-12">
                <div class="pages">

                    <div class="active">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>